.header_container {
  .fa {
    padding: 30px;
    font-size: 2rem;
  }
}
.table {
  margin: auto;
}
.Container {
  .table_container {
    margin:auto;
    height:130rem;
  }

  .table_content {

  }
}
